/cgi-bin/
/nbproject/private/
/wp-content/themes/sunnyday/nbproject/private/
/wp-config.php
/wp-content/cache/
/wp-content/nbproject/private/
/wp-content/uploads/
/wp-content/languages
/wp-content/webp-express/
/wp-content/wpo-cache/
.htaccess
info.php
robots.txt
400.shtml
401.shtml
403.shtml
404.shtml
500.shtml
*.wpress
*.tar.gz
*.tgz
*.gz
*.zip
*.sql
*.rar
